<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> OpenForum </title>
    <link rel="stylesheet" href="<%- baseURL %>/style.css">
</head>

<script id="locals-data" type="application/json">
    {
        "baseURL": "<%- baseURL %>",
        "user": <%- user || "null" %>,
        "maxImgSize": <%- maxImgSize %>,
        "loggedIn": <%- loggedIn %>,
        "messageChunkSize": <%- messageChunkSize %>,
        "loadChannel": <%- typeof loadChannel !== "undefined" ? loadChannel : "null" %>,
        "loadThread": <%- typeof loadThread !== "undefined" ? loadThread : "null" %>,
        "loadMessage": <%- typeof loadMessage !== "undefined" ? loadMessage : "null" %>,
        "channels": <%- channels %>
    }
</script>
<body>
<script src="<%- baseURL %>/setWindowVars.js"></script>

<div id="navbar"> </div>
<div id="channelBar"> </div>
<div id="channelThreadsHolder" class="channelThreadsHolder"> </div> <!-- thread header buttons are stored here -->
<div id="threadMessagesHolder" class="threadMessagesHolder" style="display: none;"> </div> <!-- holds the messages for the current thread-->
<div id="channelInfoBarHolder" class="channelInfoBarHolder" style="display: none;"> </div>
<div id="channelNameHeader" class="channelNameHeader"> </div>
<div id="copyright-div"> </div>
<!-- init socket.io -->
<script src="<%- baseURL %>/socket.io/socket.io.js"></script>
<script src="<%- baseURL %>/initSocket.js"></script>
<!-- load webpage content -->
<script src="<%- baseURL %>/loadNavbar.js"> </script>
<script src="<%- baseURL %>/notifications.js"></script>
<script src="<%- baseURL %>/loadThread.js"> </script>
<script src="<%- baseURL %>/loadChannelBar.js"> </script>
<script src="<%- baseURL %>/loadChannel.js" ></script>
<script src="<%- baseURL %>/loadCopyright.js"></script>

<script src="<%- baseURL %>/initIndexEJS.js"></script>
</body>
