<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title>OpenForum - Login</title>
    <link rel="stylesheet" href="<%- baseURL %>/style.css">
    <link rel="stylesheet" href="<%- baseURL %>/generalLogin.css">
</head>
<body>
    <script id="locals-data" type="application/json">
    {
        "baseURL": "<%- baseURL %>"
    }
    </script>
    
    <div id="navbar"></div>
    <div id="copyright-div"> </div>
    <script src="<%- baseURL %>/setWindowVars.js"></script>
    <script src="<%- baseURL %>/loadNavbar.js"></script>
    <script src="<%- baseURL %>/loadCopyright.js"></script>

    
    <div class="login-box">
        <p class='login-box-header'>Login to OpenForum</p>
        <br>
        <div class="errorTextFixedHeight" id="error-msg"> </div>

        <form id="login-form" >
        <input type="text" name="username" id="username" placeholder="Username" required><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
        </form>
    
        <p id="error-msg" class = 'login-error-msg'></p>
    
        <a class='page-button' href="<%- baseURL %>/register">New? Register An Account</a>
        <a class='forgotPasswordButton' href="<%- baseURL %>/request-password-reset">Forgot Password?</a>
    </div>
    
    <script src="<%- baseURL %>/initLoginEJS.js"> </script>

    <div id="copyright-div"> </div>

</body>
</html>
