<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <title> Register </title>
    <link rel="stylesheet" href="<%- baseURL %>/style.css">
    <link rel="stylesheet" href="<%- baseURL %>/generalLogin.css">
</head>
<body>
    <script id="locals-data" type="application/json">
        {
            "baseURL": "<%- baseURL %>"
        }
    </script>
    <script src='<%- baseURL %>/setWindowVars.js'> </script>

    <div id="navbar"></div>
    <div id="copyright-div"> </div>

    <script src="<%- baseURL %>/loadNavbar.js"></script>
    <script src="<%- baseURL %>/loadCopyright.js"></script>



<div class="login-box">
    <p class='login-box-header'>User Register</p>
    <BR>
    <form id='register-form'>
        <div class="input-wrapper">
            <input type='text' id='username' placeholder='Username' name='username' required>
            <div class="errorTextFixedHeight" id="username-error"></div>
        </div>
    
        <div class="input-wrapper">
            <input type='email' id='email' placeholder='Email' name='email' required>
            <div class="errorTextFixedHeight" id="email-error"></div>
        </div>
    
        <div class="input-wrapper">
            <input type='password' id='password' placeholder='Password' name='password' required>
            <div class="errorTextFixedHeight" id="password-error"></div>
        </div>
    


        <input class='page-button' type='submit' name='submit' value="Register Account">
    </form>
</div>

<script src='<%- baseURL %>/initRegisterEJS.js'> </script>

<div id="copyright-div"> </div>

</body>
</html>