<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> OpenForum Request Password Reset </title>
    <link rel="stylesheet" href="<%- baseURL %>/style.css">
    <link rel="stylesheet" href="<%- baseURL %>/generalLogin.css">
</head>
<body>

    <script id="locals-data" type="application/json">
        {
            "baseURL": "<%- baseURL %>"
        }
    </script>

    <script src="<%- baseURL %>/setWindowVars.js"></script>   
     <div id="navbar"></div>
    <div id="copyright-div"> </div>
    <script src="<%- baseURL %>/loadNavbar.js"></script>
    <script src="<%- baseURL %>/loadCopyright.js"></script>


<div class="login-box" id="container">
    <p class='login-box-header'>OpenForum Password Reset</p>
    <br>
    <div class="errorText" id="error-msg" style="height: 12px"> </div>

    <form id="password-reset-form" >
      <input type="text" name="username" id="username" placeholder="Username" required><br>
      <input type="email" name="email" id="email" placeholder="Email" required><br>
    </form>

    <p id="error-msg" style="color: red; display: none;"></p>
    <button class='page-button' id = 'reset-button'> Request Password Reset </button>

</div>

<script src='<%- baseURL %>/initRequestPasswordEJS.js'> </script>

</body>
</html>