<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> OpenForum Request Password Reset </title>
    <link rel="stylesheet" href="<%- baseURL %>/style.css">
    <link rel="stylesheet" href="<%- baseURL %>/generalLogin.css">
</head>
<body>
<script id="locals-data" type="application/json">
    {
        "baseURL": "<%- baseURL %>"
    }
    </script>
    
    <div id="navbar"></div>
    <div id="copyright-div"> </div>
    <script src="<%- baseURL %>/setWindowVars.js"></script>
   <script src="<%- baseURL %>/loadNavbar.js"></script>
    <script src="<%- baseURL %>/loadCopyright.js"></script>

<div class="login-box" id="container">
    <p class='login-box-header'>OpenForum Password Reset</p>
    <br>
    <div class="errorText" id="error-msg" style="height: 12px"> </div>

    <form id="password-reset-form" >
      <input type="password" name="password" id="password" placeholder="New Password" required><br>
      <input type="password" id="password-confirm" placeholder="Confirm Password" required><br>
    </form>

    <p id="error-msg" class = 'errorTextFixedHeight'></p>
    <button class='page-button' id = 'reset-button'> Reset Password </button>

</div>

<script src='<%- baseURL %>/initResetPasswordEJS.js'> </script>

</body>
</html>